@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<ul>
    <li><a asp-action="RawTypeSelector">Raw TypeSelector</a></li>
    <li><a asp-action="TagHelperTypeSelector">TagHelper TypeSelector</a></li>
</ul>